 ul {
     display: block;
     flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    
  }
  
  ul li {
    flex: 30%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    max-width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f7f7  ;
  }  
 
 img {
    height: 150px;
    margin-right: 10px;
  }
  .btn-cart{
    width: 130px;
    background-color: #ff6600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 40px;
    gap: 100px;
    cursor: pointer;
    
  }
    .btn-cart:active{
    transform: scale(0.8);
    transition: 0.15s;
    border: 3px solid #ff6600;
    background-color: rgb(255, 255, 255);
    
  }
  .item-title{
    font-size: 28px;
  }
  .price-quantity-remove{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
  }
  .two-div{
    width: 48vh;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  .btn-go-back-to-shopping{
    width: 230px;
    background-color: #ff6600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 40px;
    gap: 100px;
    cursor: pointer;
  }
  .btn-go-back-to-shopping:active{
    transform: scale(0.8);
    transition: 0.15s;
    border: 3px solid #ff6600;
    background-color: rgb(255, 255, 255);
    
  }
 
 .span-price{
  font-size: 25px;
 }
  .btn-checkout{
    background-color: #ff6600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 40px;
    gap: 100px;
    cursor: pointer;
  }
  .btn-checkout:active{
    transform: scale(0.8);
    transition: 0.15s;
    border: 3px solid #ff6600;
    background-color: rgb(255, 255, 255);
  }
  .add-up{
  background-color: rgb(149, 160, 0);
  border: none;
  color: #f1f1f1;
  font-size: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   width: 30px;
   height: 27px;
}
.add-up:active{
  background-color: white;
  transition: 0.2s;
  color: #bbbaba;
  border: 3px solid  rgb(149, 160, 0) ;
}
.add-down{
  background-color: red;
  border: none;
  color: #f1f1f1;
  font-size: 30px;
   display: flex;
   width: 30px;
   height: 27px;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   border: 3px solid red;
}
.add-down:active{
  background-color: white;
  transition: 0.2s;
  color: #bbbaba;
}
  .trash-can{
    height: 30px;
    cursor: pointer;
  }
 .plus-minus{
  display:flex;
  gap: 20px
  ;
 }
  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  nav {
      display: flex;
       justify-content: space-around;
       align-items: safe;
      padding: 10px;
      background-color: #f1f1f1;
  
    }
    
    .fir1 {
      display: flex;
      align-items: center;
    }
  .catalog{
    position: relative;
    top: 200px;
  }
  .imgs{
    height: 50px;
  }
  .zoomer{
    height: 65px;
    border-radius: 50px;
  }
  .contact-logo{
   max-width:  600px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .contact{
    width: 130px;
    background-color: #ff6600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 40px;
    gap: 100px;
    cursor: pointer;
    
  }
    
  .contact:active{
    transform: scale(0.8);
    transition: 0.15s;
    border: 3px solid #ff6600;
    background-color: rgb(255, 255, 255);
    
  }
  
    .fir1 img {
      height: 50px;
      margin-right: 10px;
    }
    
    #btn1 {
      background-color: #ff6600;
      padding: 10px;
      border-radius: 5px;
    }
    
    
    #btn1 a {
      color: white;
      text-decoration: none;
    }
    
    
    .ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
      justify-content: space-evenly;
    }
    
    
    .imgbox img {
      max-width: 100%;
      height: auto;
      max-height: 150px; 
    }
    
    .price {
      font-size: 18px;
      margin: 10px 0;
    }
    
    .descbox {
      margin-bottom: 10px;
    }
  
   .btn {
      background-color: #ff6600;
      color: rgb(0, 0, 0);
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      border: 3px solid #ff6600;
      width: 85%;
      height: auto;
     
    }
    .btn:active{
      transform: scale(0.8);
      transition: 0.15s;
      border: 3px solid #ff6600;
      background-color: rgb(255, 255, 255);
    }
    
   
  
    a{
      height: 30px;
    }
    img{
      height: 200px;
    }
    .prodh{
     position: absolute;
     left: 30%;
     top: 15%;
    }
    .imgs{
      height: 100px;
    }
  
  .second-ul{
    list-style: none;
  }
  .fb{
    height: 20px;
  }
  .a-link{
    text-decoration: none;
  }
  .search-prods{
    background-color: #ff6600;
      color: rgb(0, 0, 0);
      border-radius: 5px;
      cursor: pointer;
      border: 3px solid #ff6600;
      position: relative;
      left: 3px;
  }
  .search-prods:active{
    transform: scale(0.8);
    transition: 0.15s;
    border: 3px solid #ff6600;
    background-color: rgb(255, 255, 255);
  }
  .clear-prods{
    background-color: #ff6600;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid #ff6600;
    position: relative;
    left: 10px;
  }
  .clear-prods:active{
    transform: scale(0.8);
    transition: 0.15s;
    border: 3px solid #ff6600;
    background-color: rgb(255, 255, 255);
  }
  .thumbnail{
    height: 100px;
  }
  @media only screen and (max-width: 500px){
    .two-div{
      display: block;
      width: 200px;
    }
  }
  @media only screen and (max-width: 550px){
    nav{
     height: 150px;
    }
    .category{
     position: relative;
     left: -100px;
    }
    .imgs{
     margin-top: 60px;
     position: absolute;
     left: 0;
    }
    .search{
     position: relative;
     left: -140px;
     margin-top: 70px;
   }
   .prodh{
     margin-top: 100px;
   }
   }
   
   @media only screen and (max-width: 411px){
     
     .category{
      position: relative;
      left: -150px;
      top: -10px;
     }
    }
    @media only screen and (max-width: 360px){
     
     .category{
      position: relative;
      left: -180px;
      top: -10px;
     }
     .footer{
       display: block;
     }
    }
   
    @media only screen and (max-width: 320px){
     
     .category{
      display: none;
    }
    }
   
   